<style>

.title {
  
	color:rgb(120,120,120);
	padding-top:15%;
	text-shadow: 0px 1px 2px rgb(200,200,200);
	font-size:30px;
	font-family:sans-serif;
	font-weight:300;
	margin-left:30px;
}

.subtitle {
	
	display:block;
	color:rgb(46,94,134);
	text-shadow:0px 1px 2px rgb(86,154,184);
	font-size:30px;
	font-family:sans-serif;
	font-weight:300;
	margin-left:30px;
	text-decoration:none;
}

.item {
	
	display: block;
	color:rgb(60,60,80);
	text-shadow:0px 1px 2px rgb(200,200,200);
	font-size:60px;
	font-family:sans-serif;
	font-weight:300;
	margin-left:30px;
	text-decoration:none;
}

.message {
	
	display:block;
	color:rgb(120,120,120);
	text-shadow:0px 1px 2px rgb(200,200,200);
	padding-top:15%;
	font-size:30px;
	font-family:sans-serif;
	font-weight:300;
	margin-left:30px;
	text-decoration:none;
}

.galleryTitle {
	
	display: block;
	padding-top:5%;
	color:rgb(60,60,80);
	text-shadow:0px 1px 2px rgb(200,200,200);
	font-size:60px;
	font-family:sans-serif;
	font-weight:300;
	margin-left:30px;
	text-decoration:none;
}

#container {
	
	padding-left: 20px;
	padding-top: 100px;
}

.print {
	width: 160px;
	height: 240px;
	/* zoom: 200%; */
	float: left;
	box-shadow: rgb(221, 214, 203) 2px 2px 10px 0px;
	margin: 10px;	
}

.largePrint{
	
	width: 320px;
	height: 480px;
	/* zoom: 200%; */
	float: left;
	box-shadow: rgb(221, 214, 203) 4px 4px 20px 5px;
	margin: 20px;	
}

</style>
